<div class="container pt-5">
    {{#if logout}}
        <h1 class="text-center">Hasta luego {{name}} {{lastName}}</h1>
    {{else}}
        <h1 class="text-center">Ningun usuario con sesion activa</h1>
    {{/if}}
    
    
</div>
<script>
    setTimeout(()=>{
        location.replace('/login')
    }, 2000)
</script>