<div class="container mt-5 p-3 border bg-light bg-opacity-10" style="margin: auto; max-width: 900px">
    <h1 class="text-capitalize text-center">Pagina de inicio - app backend</h1>
    <div>
        <h3 class="text-center">Desarrollado con las siguientes tecnologias:</h3>
        <div class="pt-5 pb-5 d-flex flex-wrap justify-content-around align-items-center">
            <img class="width-img" src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png" alt="Node.js logo">
            <img class="width-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0syl-pMTbiJQw4yW4R0Ll8A3a-K8jAw2M_Q&usqp=CAU" alt="Express.js logo">
            <img class="width-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/2560px-MongoDB_Logo.svg.png" alt="MongoDB logo">
            <img class="width-img" src="https://byspel.com/wp-content/uploads/2015/12/socketio2.png" alt="Socket.io logo">
            <img class="width-img" src="https://cvellle.github.io/Nikola-Cvetic---Sites-and-Apps/images/icons/handlebars.png" alt="Handlebars logo">
            <img class="width-img" src="https://www.wymes.co/img/bootstrap.png" alt="Bootstrap logo">
        </div>
    </div>
</div>
<style>
    .width-img{
        width: 130px;
        height: max-content;
    }
</style>